.characters img {
    width: 300px;
    border: none;
    margin-bottom: 15%;
    border-radius: 3px;
    /* box-shadow: 
    rgba(255, 255, 255, 0.144) 8px -4px 12px 5px,
    rgba(255, 255, 255, 0.144) 8px 4px 12px 5px;   */
}
.character-name {
    height: 100px;
    /* font-family: "Shadows Into Light", cursive; */
    font-weight: 400;
    font-size: 3em; 
    font-style: normal; 
}
.character-name p {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-size: 3em; 
}
.characters {
    display: flex;
    overflow: hidden;
    width: 100%;
    flex-wrap: wrap;
    gap: 11%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    width: 100%;
}
.characters-container {
    width: 200px;
    border: none;
    /* margin-bottom: 20%; */
}

.introOK {
    width: 100%;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: 80% 40%;
}
.introOK h1 {
    color: rgb(0, 0, 0);
    
}
.titleOK {
    width: 700px;
    margin-top: -10%;
}
.titleOK img {
    width: 800px;
}


.character-container {
    position: relative;
    display: inline-block;
}

.character-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 14px;
    text-align: center;
}
.imgCharacters {
    width: 100%;
    height: 300px;
}